# Empty CSS file for your own CSS

body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  .body {
    background-color: #0F0082;
  }

  #nav-link active{
    color: #FF5C00;
  }
  
  #pdf {
    text-align: center;
  }