<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Classic Indicators</title>
	
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

  </head>
  <body style="background-color: rgb(7, 7, 83);">
		<div class="container-fluid">
			<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8" style="background-color: white;">
			<br/>
				<div class="col-md-12">
						<ul class="nav navbar navbar-dark bg-dark">
								<li class="nav-item">
									<a class="nav-link active" style="color: orange" href="/">Dow Stocks</a>
								</li>
								<li class="nav-item">
										<a class="nav-link " style="color: orange"href="/company">Company info </a>
								</li>				
								<li class="nav-item">
										<a class="nav-link " style="color: orange"href="/classic">Classic </a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: orange"href="/modern">Modern</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: orange"href="/news">News</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: orange"href="/API">API</a>
								</li>	
								<!-- <li>
									<a class="nav-link active dropdown-menu-right" href="/pdf">Write PDF</a>
								</li> -->
							</ul>
					<br/>
					<h3>
						Modern Indicators
					</h3>
					<p>
						Here are some additional indicators for stocks.
					</p>
					<div class="row">
						<div class="col-md-5">
								<div id="company_info" class="panel-body">
									<table id="data_table" class="table table-sm">
										<tbody>
										</tbody>
									</table>
								</div>
						</div>
						<div class="col-md-7">
								<form action="/info" method="POST">
									<select class="form-control" id='stock_menu' name="team">
										<option value="">select stock</option>
										<option value="MMM"> 3M</option>
										<option value="AXP"> American Express</option>
										<option value="AAPL"> Apple</option>
										<option value="BA"> Boeing</option>
										<option value="CAT"> Caterpillar</option>
										<option value="CVX"> Chevron</option>
										<option value="CSCO"> Cisco</option>
										<option value="KO"> Coca-Cola</option>
										<option value="DIS"> Disney</option>
										<option value="DWDP"> DowDuPont Inc</option>
										<option value="XOM"> Exxon Mobil</option>
										<option value="GS"> Goldman Sachs</option>
										<option value="HD"> Home Depot</option>
										<option value="IBM"> IBM</option>
										<option value="INTC"> Intel</option>
										<option value="JNJ"> Johnson & Johnson</option>
										<option value="JPM"> JPMorgan Chase</option>
										<option value="MCD"> McDonald's</option>
										<option value="MRK"> Merck</option>
										<option value="MSFT"> Microsoft</option>
										<option value="NKE"> Nike</option>
										<option value="PFE"> Pfizer</option>
										<option value="PG"> Procter & Gamble</option>
										<option value="TRV"> Travelers Companies Inc</option>
										<option value="UTX"> United Technologies</option>
										<option value="UNH"> UnitedHealth</option>
										<option value="VZ"> Verizon</option>
										<option value="V"> Visa</option>
										<option value="WMT"> Wal-Mart</option>
										<option value="WBA"> Walgreen</option>
									</select>
									<br>
								</form>
							<strong>
									Last 12 months performance
							</strong>
							<div id="twelve_months_performance" style="height: 400px;"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<strong>
										Stock Volume Over Time
									</strong>
									<div id="stock_volume_chart" style="height: 400px; width: 400px;"></div>
								</div>
								<div class="col-md-6">
									<stong>
										Percentage increase Over Time
									</strong>
									<div id="increase_over_time" style="height: 400px; width: 400px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
		<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  		<script src="{{ url_for('static', filename='js/modern.js') }}"></script>
  </body>
</html>