<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<title>Classic Indicators</title>
	
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

  </head>
  <body style="background-color: #0F0082;">
		<div class="container-fluid">
			<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8" style="background-color: white;">
			<br/>
				<div class="col-md-12">
						<ul class="nav navbar navbar-dark bg-dark">
								<li class="nav-item">
									<a class="nav-link active" style="color: #FF5C00" href="/">Dow Stocks</a>
								</li>
								<li class="nav-item">
										<a class="nav-link " style="color: #FF5C00" href="/company">Company Info </a>
								</li>				
								<li class="nav-item">
										<a class="nav-link " style="color: #FF5C00" href="/classic">Classic </a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: #FF5C00" href="/modern">Modern</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: #FF5C00" href="/modern30">Modern30</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: #FF5C00" href="/news">News</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " style="color: #FF5C00" href="/API">API</a>
								</li>	
								<!-- <li>
									<a class="nav-link active dropdown-menu-right" href="/pdf">Write PDF</a>
								</li> -->
							</ul>
					<br/>
					<h3>
						Modern Indicators
					</h3>
					<div class="row">
						<div class="col-md-12">
						<div id="stock_data" class="table table-sm"  style="text-align: center;">
								<div id="table" class="panel-body table table-sm">
										<table id="data_table" class="table table-sm">
											<tbody>
												<thead></thead>
												<td></td>
											</tbody>
										</table>
								</div>
						</div>
            <div id="scatter_plot1" style="height: 400px;"></div>
            <div id="scatter_plot2" style="height: 400px;"></div>
            <div id="scatter_plot3" style="height: 400px;"></div>                          
            </div> 
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  		<script src="{{ url_for('static', filename='js/modern2.js') }}"></script>
  </body>
</html>